body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    text-align: center;
}


header{
    background-color: black;
    color: aliceblue;
    padding: 20px;
    position: sticky;
    width: 100%;
    top:0px;
    h1{
        color: black;
        margin-bottom:20% ;
        background-color: aliceblue;
        margin: 20px auto;
        padding: 20px;
        width: 50%;
        box-shadow:0px 0px 10px rgba(7, 7, 7);
        border-radius: 50px;
    }
}

nav ul{
    list-style: none;
    padding: 0 15px;
}

nav ul li{
    display: inline;
    margin: 0 15px;
}

nav ul li a{
color:wheat;
text-decoration: none;
}

.container-section{
    background-color: blue;
    padding: 20px;
}

.box {
    margin-bottom:20% ;
    background-color: aliceblue;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    box-shadow:0px 0px 10px rgba(7, 7, 7);
    border-radius: 10px 10%;
}

.button-contain{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    gap: 30px;
    margin: 0px;
    background-color: red;
    
}

.button{
    background-color:wheat;
    padding: 10px;
    border-radius: 20px;
    box-shadow:0px 0px 10px rgba(7, 7, 7);
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s box-shadow 0.3;
    }
    .button:hover{
        transform:scale(2);
        box-shadow:0px 0px 32px rgba(7, 7, 7);
    }

    .html{border:solid 2px cyan}
    .css{border:solid 2px red}
    .js{border:solid 2px greenyellow}

    .footer-class{
        padding: 20px;
        background:white;
        border-top:2px solid #010000;
        background-color: grey;
    }

